body{
	/*background-color: #ffd9b3*/
	background-image: url("images/contact-background.jpg");
	background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	/*background-size: cover;*/
}
h1{
	color: white;
	text-align: center;
	position: static;
	font-family: 'Courier New', monospace;
}
.card {
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  margin-bottom: 8%;
  background-color: #999999;
  color: #66ffff;
  font-size: 0.85em;
}
h4{
	font-size: 1.5em;
}

.card:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}

.container {
  padding: 0.125em 1em;
  text-align: center;
}
.box{
	position: absolute;
	background-color: #999999;
	text-align: center;
	opacity: 0.5;
	width: 50%;
	height: 50%;
	border: 0.625em solid #737373;
	padding: 5%;
	margin: auto;
	top: 9%;
	left: 0%;
	position: relative;
}

/* Dropdown Button */
.dropbtn {
  background-color: #404040;
  position: relative;
  color: white;
  padding: 1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  height: 3.125em;
  width: 6.875em;
  text-align: center;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #808080;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 60%;
  box-shadow: 0% 8% 16% 0% rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

