/*DEVELOPER: Jimit Patel, IS117-006, Spring, 2022 */
.box{
	position: absolute;
	background-color: #fff2e6;
	opacity: 0.5;
	width: 50%;
	border: 0.625em solid #ffcc66;
	padding: 3.125em;
	margin: auto;
	top: 20%;
	left: 30%;
}
body{
	/*background-color: #ffd9b3*/
	background-image: url("images/contact-background.jpg");
	background-repeat: no-repeat;
	max-height: 100%;
	max-width: 100%;
	
}
